<script src="{{ url_for('static', filename='scripts/vendor/highlight.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Google Code for Allegan Legal Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 868580064;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "AwnUCKPu52sQ4PWVngM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/868580064/?label=AwnUCKPu52sQ4PWVngM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
