{% extends 'layouts/skeleton.jinja2' %}

{% set title = "Lawyers in Allegan, MI" %}

{% block body %}
    <h2 style="padding: 0 0 10px 15px">Find legal professionals in Allegan, Michigan.</h2>

    {% for term in terms %}
        <div class="col-sm-12 col-md-6 col-lg-6">
            <a href="{{ url_for('search.results', slug=term.slug) }}">
                <div class="index-panels"
                    style="background: rgba({{ term.panel_tint }});">
                    <img class="img-responsive" src="{{ url_for('static', filename='images/terms/' + term.slug + '.png') }}">
                    <h3>{{ term.term }}</h3>
                </div>
            </a>
        </div>
    {% endfor %}
{% endblock %}
