{%- macro log(route, slug) -%}
    {% if config['DEBUG'] %}<!--{% endif %}
    <script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyDjQElvzTrReg8YIQoQrKZ2LLqVzvEnIK0",
            authDomain: "allegan-legal.firebaseapp.com",
            databaseURL: "https://allegan-legal.firebaseio.com",
            storageBucket: "allegan-legal.appspot.com",
            messagingSenderId: "677870228007"
        };
        firebase.initializeApp(config);
    </script>
    <script src="https://l2.io/ip.js?var=myip"></script>
    <script type="text/javascript">
        var database = firebase.database();
        var log = {
            "ip": myip,
            "route": "{{ route }}",
            "slug": "{{ slug }}",
            "time": new Date().toLocaleString()
        }
        database.ref('logs').push(log);
    </script>
    {% if config['DEBUG'] %}-->{% endif %}
{%- endmacro -%}
