{% extends 'layouts/skeleton.jinja2' %}

{% set title = organization.title %}
{% block meta_description %}TODO{% endblock %}

{% block tracking %}{{ tracking.log(route="organization", slug=organization.slug)|safe }}{% endblock %}

{% block body %}
    <h1>{{ organization.title }}</h1>
    <h2>Law office in Allegan, Michigan.</h2>

    <a href="#" id="phone-number" onclick="showPhone()">{{ organization._phone['human'] }}</a>

    <br/>

    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAA986GH_k-u8RQjDMKNiZw0V0GcsT_Km4&q={{ organization.address_safe }}&zoom={{ organization.map_zoom }}" allowfullscreen>
    </iframe>

    <script type="text/javascript">
        e = document.getElementById('phone-number');
        function showPhone() {
            var phone_log = log;
            phone_log["route"] = "organization - phone";
            database.ref('logs').push(phone_log);

            e.href = "tel:{{ organization._phone['intl'] }}";
            e.onclick = null;
        }
    </script>
{% endblock %}
