{% extends 'layouts/skeleton.jinja2' %}

{% set title = "Law Offices" %}
{% block meta_description %}TODO{% endblock %}

{% block tracking %}{{ tracking.log(route="organizations", slug="None")|safe }}{% endblock %}

{% block body %}
    <h1>Search</h1>
    <h2>Find legal professionals in Allegan, Michigan.</h2>

    <ul class="organization-list">
        {% for organization in organizations %}
        <li>
            <a href="{{ url_for('professional.organization_detail', slug=organization.slug) }}">{{ organization.title }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
