{% extends 'layouts/skeleton.jinja2' %}

{% set title = organization.title %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <img src="{{ url_for('static', filename='images/organizations/{}.png'.format(organization.id)) }}" class="img-responsive img-circle">
        </div>
        <div class="col-md-9">
            <h2>{{ organization.title }}</h2>
            <a href="tel:{{ organization._phone['intl'] }}" class="btn btn-primary">
                {{ organization._phone['human'] }}
                <!-- Call now! -->
            </a>

            <h3>{{ organization.classification_text }}</h3>
        </div>
    </div>

    <hr/>

    <iframe
      width="600"
      height="450"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAA986GH_k-u8RQjDMKNiZw0V0GcsT_Km4&q={{ organization.address_safe }}&zoom={{ organization.map_zoom }}" allowfullscreen>
    </iframe>

    <script type="text/javascript">
        e = document.getElementById('phone-number');
        function showPhone() {
            var phone_log = log;
            phone_log["route"] = "organization - phone";
            database.ref('logs').push(phone_log);

            e.href = "tel:{{ organization._phone['intl'] }}";
            e.onclick = null;
        }
    </script>
{% endblock %}
